checkpoints/
outputs/
dataset/
dataset_origin/
dataset_refined/

assets/dataset
assets/dataset_fb
assets/dataset_both
assets/classification

logs/
src
model_output/
dataset_fanta/
notebook/
featuremaps/

__pycache__/
*.pyc
objaverse_1.0_1000_without_white.zip


### Remove plz!
test.py
objaverse_1.0_100_without_anomaly.zip
